<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div style="background-color: aliceblue;margin-top:0px;padding-top:10px;padding-bottom:10px;">
        <P style="text-align:center;font-size: larger;"> welcome <%=user%>
        </P>
    </div>

    <div style="margin-top: 10px; background-color: aliceblue;padding-top:30px;padding-bottom:30px;min-height: 78vh;">
        <img src="images/barchart.jpeg" style="width:100%;height:50%">
        <div style="display: flex;justify-content: space-around;">
            <p style="font-size: 30px;font-weight:900;color:green">
                <%=counter1%> %
            </p>
            <p style="font-size: 30px;font-weight:900;color:red">
                <%=counter2%> %
            </p>
        </div>
    </div>
</body>

</html>